UseColor: true
WarningsAsErrors: '*'
Checks: >
  -*,

  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,

  modernize-*,
  performance-*,
  bugprone-*,
  readability-*,
  clang-analyzer-*,
  google-explicit-*,
