name: Run basic CI checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-24.04
    permissions:
      id-token: "write"
      contents: "read"
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Check format
        run: nix develop -c just pretty::fmt check
      - name: Check lint
        run: nix develop -c just pretty::lint check
      - name: Check tests
        run: nix develop -c just tests::run
      - name: Check benchmarks
        run: nix develop -c just benchmarks::run
